In [1]:
import pandas as pan
import csv

In [2]:
file = 'files/input.txt'
#'A','B','C','D','E','F','G','H'
#open(file, 'r', encoding='utf-16').readlines()

In [3]:
# read the tsv into a reader, excluded columns/rows i didnt need, 
reader = pan.read_csv(file, encoding='utf-16', sep='\t', header=None, 
                      error_bad_lines=False, skiprows=2, usecols=list(range(2,14)))
# drop empty rows
reader = reader.dropna()
# drop duplicate column number rows, don't keep first occurance
reader = reader.drop_duplicates(keep=False)
# an attempt at labeling all the rows with their letter
dups_label = range(1,41)
index = pan.Index(
    ['A','B','C','D','E','F','G','H'] * int((len(reader)/8))
)
# applying the row labels
reader = reader.set_index(index)

b'Skipping line 14: expected 16 fields, saw 23\nSkipping line 26: expected 16 fields, saw 23\nSkipping line 38: expected 16 fields, saw 23\nSkipping line 50: expected 16 fields, saw 23\nSkipping line 62: expected 16 fields, saw 23\nSkipping line 74: expected 16 fields, saw 23\nSkipping line 86: expected 16 fields, saw 23\nSkipping line 98: expected 16 fields, saw 23\nSkipping line 110: expected 16 fields, saw 23\nSkipping line 122: expected 16 fields, saw 23\nSkipping line 134: expected 16 fields, saw 23\nSkipping line 146: expected 16 fields, saw 23\nSkipping line 158: expected 16 fields, saw 23\nSkipping line 170: expected 16 fields, saw 23\nSkipping line 182: expected 16 fields, saw 23\nSkipping line 194: expected 16 fields, saw 23\nSkipping line 206: expected 16 fields, saw 23\nSkipping line 218: expected 16 fields, saw 23\nSkipping line 230: expected 16 fields, saw 23\n'

In [4]:
# put that into a csv
reader.to_csv('files/output.txt', header=list(range(1,13)))
cleaned = pan.read_csv('files/output.txt', index_col=0)

In [5]:
print('Rows in .csv: {}'.format(len(cleaned)))
cleaned.head(8)

Rows in .csv: 160

,1,2,3,4,5,6,7,8,9,10,11,12
A,1.3144,1.1785,0.7943,0.4132,0.2309,0.1213,0.0906,0.0729,0.0635,0.0615,0.0580,0.0554
B,1.3050,1.0872,0.7805,0.4324,0.2033,0.1206,0.0768,0.0660,0.0566,0.0580,0.0537,0.0539
C,1.2155,1.0161,0.7470,0.3698,0.1908,0.1186,0.0771,0.0660,0.0624,0.0558,0.0562,0.0544
D,1.2389,1.0954,0.6835,0.4122,0.1949,0.1054,0.0715,0.0641,0.0553,0.0540,0.0537,0.0540
E,1.4406,1.3262,1.0973,0.7025,0.3889,0.2002,0.1076,0.0745,0.0638,0.0569,0.0568,0.0540
F,1.4675,1.2960,1.0870,0.6903,0.3797,0.1906,0.1057,0.0780,0.0600,0.0542,0.0529,0.0527
G,0.3271,0.1458,0.0898,0.0638,0.0563,0.0582,0.0538,0.0513,0.0506,0.0502,0.0515,0.0541
H,0.2943,0.1298,0.0777,0.0625,0.0569,0.0544,0.0527,0.0529,0.0544,0.0522,0.0534,0.0552

In [6]:
test_plate = cleaned.head(8)

In [7]:
test_plate

,1,2,3,4,5,6,7,8,9,10,11,12
A,1.3144,1.1785,0.7943,0.4132,0.2309,0.1213,0.0906,0.0729,0.0635,0.0615,0.0580,0.0554
B,1.3050,1.0872,0.7805,0.4324,0.2033,0.1206,0.0768,0.0660,0.0566,0.0580,0.0537,0.0539
C,1.2155,1.0161,0.7470,0.3698,0.1908,0.1186,0.0771,0.0660,0.0624,0.0558,0.0562,0.0544
D,1.2389,1.0954,0.6835,0.4122,0.1949,0.1054,0.0715,0.0641,0.0553,0.0540,0.0537,0.0540
E,1.4406,1.3262,1.0973,0.7025,0.3889,0.2002,0.1076,0.0745,0.0638,0.0569,0.0568,0.0540
F,1.4675,1.2960,1.0870,0.6903,0.3797,0.1906,0.1057,0.0780,0.0600,0.0542,0.0529,0.0527
G,0.3271,0.1458,0.0898,0.0638,0.0563,0.0582,0.0538,0.0513,0.0506,0.0502,0.0515,0.0541
H,0.2943,0.1298,0.0777,0.0625,0.0569,0.0544,0.0527,0.0529,0.0544,0.0522,0.0534,0.0552

In [21]:
iterables = [[1, 2, 3, 4], [1,2]]
mult_index = pan.MultiIndex.from_product(iterables, names = ['Animal','Replicate'])
test_plate.index = mult_index